* 
{
  margin: 0;
  padding: 0;
}

:root 
{
  --background-hue: 220;
}

body
{
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: hsl(var(--background-hue), 50%, 30%);
}

body *
{
  text-align: center;
  color: hsl(var(--background-hue), 0%, 100%);
}

h1
{
  padding: 1rem;
  font-size: 2.5rem;
  background-color: hsl(var(--background-hue), 100%, 10%);
}

main 
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 1rem;
  flex-grow: 1;
}

main > span
{
  padding: .5rem;
  font-size: 1.5rem;
}

#espacos
{
  display: flex;
  flex-direction: column;
}

#espacos input 
{
  margin: .2rem;
  padding: .5rem;
  color: hsl(var(--background-hue), 0%, 0%);
  font-size: 1.5rem;
  border-radius: 2rem;
  border: .2rem solid hsl(var(--background-hue), 75%, 10%);
}

#botao
{
  width: fit-content;
  padding: .5rem;
  font-size: 1.5rem;
  background-color: hsl(var(--background-hue), 100%, 10%);
  border-radius: 2rem;
  border: .2rem solid hsl(var(--background-hue), 75%, 50%);
}

#botao:hover
{
  cursor: pointer;
  color: hsl(var(--background-hue), 0%, 0%);
  background-color: hsl(130, 75%, 50%);
  border-color: hsl(130, 75%, 30%);
}

#result 
{
  width: fit-content;
  padding: 1rem;
  background-color: hsl(var(--background-hue), 75%, 5%, 70%);
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 2rem;
  border: .2rem solid hsl(var(--background-hue), 75%, 10%);
}
